input{
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 3px 15px;
  outline: none;
}

button{
  margin:15px 0;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

li{
  list-style: none;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid palevioletred;
  border-radius: 5px;
  background-color: pink;
  width: 300px;
  height: 300px;
}